streamlit
sounddevice
numpy
scipy
ffmpeg-python
python-dotenv
elevenlabs>=1.0.0
groq
pymongo
PyPDF2
pandas
matplotlib
wordcloud
spacy
gensim
scikit-learn
langchain-core
langchain-community
langchain-text-splitters
